{% extends 'base.html.twig' %}
{% block title %}Llibres{% endblock %}
{% block body %}
<h1>Fitxa del Llibre</h1>
{% if llibre %}
{{ include ('dades_llibre.html.twig', { 'llibre':
llibre }) }}
{% else %}
<p>Llibre no trobat</p>
<img class="imatge" src="{{ asset('img/llibreNotFound.png') }}" />
{% endif %}
<br/>
<a href="/">Tornar a l'inici<img class="home" src="{{ asset('img/home.png') }}"></a> <a href ="{{ path('editar_llibre', {'isbn': llibre.isbn}) }}"><img class="icon" src="{{ asset('img/editar.png') }}"/></a> 
{% endblock %}